#include "astrouni.h"
#include "astrounr.h"


//Personen Erfassen
E_PERSON DIALOG 10, 16, 189, 158
STYLE DS_SYSMODAL | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Personen Erfassen"
BEGIN
	CONTROL "", ETXT_Beruf, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP | WS_TABSTOP, 94, 12, 83, 12
	CONTROL "", ETXT_Vorname, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 51, 33, 44, 12
	CONTROL "", ETXT_Name, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP | WS_TABSTOP, 129, 33, 48, 12
	CONTROL "", ETXT_Zeit, "EDIT", ES_CENTER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 11, 62, 45, 12
	CONTROL "", ETXT_Datum, "EDIT", ES_CENTER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 69, 62, 51, 12
	EDITTEXT ETXT_Sommer, 135, 62, 42, 12, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
	PUSHBUTTON "&Ort Suchen", PB_OrtSuchen, 11, 85, 53, 10, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	CONTROL "", ETXT_Ort, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 110, 83, 67, 12
	EDITTEXT ETXT_Zeitzone, 46, 119, 22, 12, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
	DEFPUSHBUTTON "Hinzufügen", PB_Ok, 11, 141, 44, 10, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "Beenden", PB_Abbruch, 62, 141, 36, 10, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "C", PB_Calc, 105, 141, 26, 10, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "Hilfe", PB_Hilfe, 138, 141, 39, 10, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "&Namen Suchen", PB_NamenSuchen, 11, 13, 54, 10, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	LTEXT "Vorname :", TXT_Vorname, 11, 35, 34, 10, WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "Name:", TXT_Name, 101, 35, 24, 10, WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "Geburtsort:", TXT_Geburtsort, 69, 85, 41, 10, WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "Zeitzone:", TXT_Zeitzone, 11, 121, 33, 10, WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "Geburtszeit :", TXT_Geburtszeit, 11, 51, 46, 10, WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "Geburtsdatum :", TXT_Geburtsdatum, 69, 51, 52, 10, WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "Sommerzeit:", TXT_Sommerzeit, 135, 51, 42, 10, WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "Beruf:", TXT_Beruf, 70, 13, 23, 10, WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "Breite:", TXT_B, 11, 104, 25, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "", TXT_Breite, 35, 104, 31, 10
	LTEXT "Länge:", TXT_L, 68, 104, 25, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "", TXT_Lange, 93, 104, 35, 11
	LTEXT "", TXT_Erfasst, 79, 121, 97, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "Land:", -1, 132, 104, 25, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "", TXT_LAND, 154, 104, 18, 9, WS_CHILD | WS_VISIBLE | WS_GROUP
END



ASPEKTE DIALOG -2000, 26, 128, 135
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "Einstellungen"
BEGIN
	CONTROL "Konjunktion", RBA_KON, "BUTTON", BS_CHECKBOX | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 11, 22, 50, 12
	CHECKBOX "Halbsextil", RBA_HSX, 11, 34, 50, 12, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	CHECKBOX "Sextil", RBA_SEX, 11, 46, 50, 12, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	CHECKBOX "Trigon", RBA_TRI, 11, 58, 50, 12, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	CHECKBOX "Quadratur", RBA_QUA, 11, 70, 50, 12, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	CHECKBOX "Quincunx", RBA_QUI, 11, 82, 50, 12, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	CHECKBOX "Oposition", RBA_OPO, 11, 94, 50, 12, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	DEFPUSHBUTTON "OK", PB_Ok, 10, 117, 32, 10, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "Abbruch", PB_Abbruch, 48, 117, 32, 10, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "Hilfe", PB_Hilfe, 86, 117, 32, 10, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	LTEXT "Aspekte", -1, 11, 8, 41, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", -1, "static", SS_BLACKFRAME | WS_CHILD | WS_VISIBLE, 11, 19, 48, 1
	LTEXT "Teilungen", -1, 81, 8, 41, 8, WS_CHILD | WS_VISIBLE | WS_GROUP
	CONTROL "", -1, "static", SS_BLACKFRAME | WS_CHILD | WS_VISIBLE, 81, 19, 33, 1
	CONTROL "3er", RBA_3, "BUTTON", BS_CHECKBOX | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 81, 22, 40, 12
	CHECKBOX "9er", RBA_9, 81, 34, 33, 12, WS_CHILD | WS_VISIBLE | WS_TABSTOP
END



