DATEN_DOPPELT DIALOG 10, 18, 278, 88
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "DATEN"
BEGIN
	CONTROL "Namen", 501, "LISTBOX", LBS_STANDARD | LBS_HASSTRINGS | LBS_WANTKEYBOARDINPUT | LBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE, 5, 24, 269, 33
	PUSHBUTTON "OK", 502, 6, 65, 33, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "Cancel", 503, 48, 65, 31, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "Hilfe", 504, 243, 65, 30, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	LTEXT "Item auswählen:", 506, 6, 7, 113, 9, WS_CHILD | WS_VISIBLE | WS_GROUP
END
