DATEN_DOPPELT DIALOG 19, 18, 124, 86
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "DATEN"
BEGIN
	CONTROL "Namen", 501, "LISTBOX", LBS_STANDARD | LBS_HASSTRINGS | LBS_WANTKEYBOARDINPUT | LBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE, 5, 24, 115, 33
	PUSHBUTTON "JA", 502, 6, 65, 33, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "ADD", 503, 48, 65, 31, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "Hilfe", 504, 88, 65, 30, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	LTEXT "Name existiert: Überschreiben?", 506, 6, 7, 113, 9, WS_CHILD | WS_VISIBLE | WS_GROUP
END
